body {
    margin: 0;
}

/* main {
    margin: 1rem;
} */

main, 
header section {
    margin: 1rem;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 1.5rem;
}

.logo {
    max-width: 3rem;
}

@media screen and (min-width: 50em) {
    .flex {
        display: flex;
        gap: 1rem;
    }

    .flex > * {
        flex-grow: 1;
        width: 100%;
    }
}